@model CT.Common.Entities.VehicleEntity
@{
    ViewBag.Title = "AddVehicle";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var fuellist = Model.FuelTypeList.Select(x => new SelectListItem { Value = x.ID.ToString(), Text = x.Value }).ToList();
}

<hr />
<div id="accordion">
    <h3>Add Car</h3>
    @using (Html.BeginForm("AddVehicle", "Vehicle", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.ID)
        <div class="row">
            <div class="card-body">
                <div class="form-group">
                    <label for="form1">Car Name</label>
                    @Html.TextBoxFor(x => x.VehicleName, new { @class = "form-control", @required = "required" })
                </div>
                <div class="form-group">
                    <label for="form1">Stock ID</label>
                    @Html.TextBoxFor(x => x.StockID, new { @class = "form-control", @required = "required" })
                </div>
                <div class="form-group">
                    <label for="form1">Description</label>
                    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
                </div>

            </div>
        </div>
        <input type="submit" value="Save" class="btn btn-success cancel" />
        if (Model.ID > 0)
        {
            <a href="@Url.Action("DeleteVehicleByID", "Vehicle",new { vechileID = Model.ID })" class="btn btn-warning btn-rounded">Delete Car</a>
        }
        <a href="@Url.Action("Index", "Vehicle")" class="btn btn-warning btn-rounded">Cancel</a>
    }

    @if (Model.ID > 0)
    {
        <h3>Vehicle Images</h3>
        using (Html.BeginForm("AddVehicleImages", "Vehicle", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="container">
                @foreach (var image in Model.VehicleImage)
                {
                    <div class="imgcontainer">
                        <div class="closebutton">X</div>
                        <img src="@Url.Content("~/Images/450250/" + image.ImageName)" data-imagename="@image.ImageName" data-vehicleID="@Model.ID" class="vehicleimage" alt="" height="100" width="150" />
                    </div>
                }
            </div>
            <div class="clearfix"></div>
            @Html.HiddenFor(x => x.ID)
            <div class="row">
                <div class="card-body">
                    <div class="form-row align-items-center">
                        <div class="col-4">
                            <div class="">
                                <label for="form1">Upload Picture(s)</label>
                                <input type="file" multiple="multiple" name="files" class="form-control mb-2" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="submit" value="Save" class="btn btn-success cancel" />
        }

        <h3>Vehicle Details</h3>
        using (Html.BeginForm("AddVehicleDetails", "Vehicle", FormMethod.Post))
        {
            @Html.HiddenFor(x => x.ID)
            <div class="row">
                <div class="card-body">
                    <div class="form-row align-items-center">
                        <div class="col-4">
                            <div class="form-group">
                                <label class="control-label" for="inlineFormMake">1.Make</label>
                                @Html.TextBoxFor(x => x.VehicleDetail.Make, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="inlineFormModel">2.Model</label>
                                @Html.TextBoxFor(x => x.VehicleDetail.Model, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="inlineFormVariant">3.Variant</label>
                                @Html.TextBoxFor(x => x.VehicleDetail.Variant, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-row align-items-center">
                        <div class="col-4">
                            <div class="form-group">
                                <label for="inlineFormManufacturing">4. Year of Manufacturing</label>
                                @Html.TextBoxFor(x => x.VehicleDetail.YearOfManufacturing, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="inlineFormFuel">5.Fuel Type</label>
                                @Html.DropDownListFor(x => x.VehicleDetail.FuelTypeID, fuellist, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="inlineFormKilometers">6.Kilometers</label>
                                @Html.TextBoxFor(x => x.VehicleDetail.Kilometers, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-row align-items-center">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="inlineFormTransmission">7. Transmission</label>
                                @Html.TextBoxFor(x => x.VehicleDetail.Transmission, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="inlineFormRegistration">8.Registration No.</label>
                                @Html.TextBoxFor(x => x.VehicleDetail.RegistrationNo, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="submit" value="Save" class="btn btn-success cancel" />
        }

        <h3>Document Details</h3>
        using (Html.BeginForm("AddVehicleDocument", "Vehicle", FormMethod.Post))
        {
            @Html.HiddenFor(x => x.ID)
            <div class="row">
                <div class="card-body">
                    <div class="form-row align-items-center">
                        <div class="col-4">
                            <div class="form-group">
                                <label for="form1">1.RC availability&nbsp;&nbsp;&nbsp;</label>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="IsRCavailable1" value="true" name="IsRCavailable" @(Model.DocumentDetail != null ? Model.DocumentDetail.IsRCavailable ? "checked" : "" : "")>
                                    <label class="custom-control-label" for="IsRCavailable1">Yes</label>
                                </div>
                                /
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="IsRCavailable2" value="false" name="IsRCavailable" @(Model.DocumentDetail != null ? !Model.DocumentDetail.IsRCavailable ? "checked" : "" : "")>
                                    <label class="custom-control-label" for="IsRCavailable2">No</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="form1">2.Hypothication&nbsp;&nbsp;&nbsp;</label>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="Hypothication1" value="true" name="Hypothication" @(Model.DocumentDetail != null ? Model.DocumentDetail != null ? Model.DocumentDetail.Hypothication ? "checked" : "" : "" : "")>
                                    <label class="custom-control-label" for="Hypothication1">Yes</label>
                                </div>
                                /
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="Hypothication2" value="false" name="Hypothication" @(Model.DocumentDetail != null ? !Model.DocumentDetail.Hypothication ? "checked" : "" : "")>
                                    <label class="custom-control-label" for="Hypothication2">No</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="form1">3.If Yes:&nbsp;&nbsp;&nbsp;</label>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="IsNOCavailable1" value="true" name="IsNOCavailable" @(Model.DocumentDetail != null ? Model.DocumentDetail.IsNOCavailable ? "checked" : "" : "")>
                                    <label class="custom-control-label" for="IsNOCavailable1">NOC available</label>
                                </div>
                                /
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="IsNOCavailable2" value="false" name="IsNOCavailable" @(Model.DocumentDetail != null ? !Model.DocumentDetail.IsNOCavailable ? "checked" : "" : "")>
                                    <label class="custom-control-label" for="IsNOCavailable2">NOC not available</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row align-items-center">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="owners">4.No. of owners</label>
                                @Html.TextBoxFor(x => x.DocumentDetail.NoOfOwners, new { @class = "form-control mb-2" })
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="Keys">5.No.of Keys</label>
                                @Html.TextBoxFor(x => x.DocumentDetail.NoOfKeys, new { @class = "form-control mb-2" })
                            </div>
                        </div>
                    </div>
                    <div class="form-row align-items-center">
                        <div class="col-4">
                            <div class="form-group">
                                <label for="form1">6.Insurance:&nbsp;&nbsp;&nbsp;</label>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="IsInsuranceAvailable1" value="true" name="IsInsuranceAvailable" @(Model.DocumentDetail!=null?Model.DocumentDetail.IsInsuranceAvailable ? "checked" : "":"")>
                                    <label class="custom-control-label" for="IsInsuranceAvailable1">Yes</label>
                                </div>
                                /
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="IsInsuranceAvailable2" value="false" name="IsInsuranceAvailable" @(Model.DocumentDetail!=null?!Model.DocumentDetail.IsInsuranceAvailable ? "checked" : "":"")>
                                    <label class="custom-control-label" for="IsInsuranceAvailable2">No</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="form1">a. If Yes :&nbsp;&nbsp;&nbsp;</label>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="IsComprehensive1" value="true" name="IsComprehensive" @(Model.DocumentDetail!=null?Model.DocumentDetail.IsComprehensive ? "checked" : "":"")>
                                    <label class="custom-control-label" for="IsComprehensive1">Comprehensive</label>
                                </div>
                                /
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="IsComprehensive2" value="false" name="IsComprehensive" @(Model.DocumentDetail!=null?!Model.DocumentDetail.IsComprehensive ? "checked" : "":"")>
                                    <label class="custom-control-label" for="IsComprehensive2">Third Party</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="date-picker-example1">b. Expiry Date:</label>
                                @Html.TextBoxFor(x => x.DocumentDetail.InsuranceExpiryDate, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="submit" value="Save" class="btn btn-success cancel" />
        }

        <h3>Technical Details</h3>
        using (Html.BeginForm("AddVehicleTechnical", "Vehicle", FormMethod.Post))
        {
            @Html.HiddenFor(x => x.ID)
            <div class="row">
                <div class="card-body">
                    <div class="form-group">
                        <label for="Engine">1.Engine</label>
                        @Html.TextBoxFor(x => x.TechnicalDetail.Engine, new { @class = "form-control mb-2" })
                    </div>
                    <div class="form-group">
                        <label for="Body">2.Body</label>
                        @Html.TextBoxFor(x => x.TechnicalDetail.Body, new { @class = "form-control mb-2" })
                    </div>
                    <div class="form-group">
                        <label for="Steering">3.Suspension & Steering System</label>
                        @Html.TextBoxFor(x => x.TechnicalDetail.SuspensionSteeringSystem, new { @class = "form-control mb-2" })
                    </div>
                    <div class="form-group">
                        <label for="Transmission">4.Transmission</label>
                        @Html.TextBoxFor(x => x.TechnicalDetail.Transmission, new { @class = "form-control mb-2" })
                    </div>
                    <div class="form-group">
                        <label for="Electrical">5.Electrical</label>
                        @Html.TextBoxFor(x => x.TechnicalDetail.Electrical, new { @class = "form-control mb-2" })
                    </div>
                    <div class="form-group">
                        <label for="AC">6.AC </label>
                        @Html.TextBoxFor(x => x.TechnicalDetail.AirCondition, new { @class = "form-control mb-2" })
                    </div>
                    <div class="form-group">
                        <label for="Brakes">7.Brakes</label>
                        @Html.TextBoxFor(x => x.TechnicalDetail.Brakes, new { @class = "form-control mb-2" })
                    </div>
                    <div class="form-group">
                        <label for="Condition">8.Tyres Condition</label>
                        @Html.TextBoxFor(x => x.TechnicalDetail.TyresCondition, new { @class = "form-control mb-2" })
                    </div>
                    <div class="form-group">
                        <label for="Information">9. Other Information (if any) </label>
                        @Html.TextBoxFor(x => x.TechnicalDetail.OtherInformation, new { @class = "form-control mb-2" })
                    </div>
                </div>
            </div>
            <input type="submit" value="Save" class="btn btn-success cancel" />
        }
    }

</div>

