@model CT.Common.Entities.BaseVehicleEntity
@{
    ViewBag.Title = "Index";
    @*<link rel="stylesheet" href="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/css/compiled-4.5.14.min.css?ver=4.5.14">*@
}
<div>
    <div class="mr-auto pl-2">
        <span class="d-none d-md-inline-block">
            <!-- Dynamic content wrapper -->
            <span id="dynamicContentWrapper-mainNavbar" class="dynamic-content">
                <a alt="Dynamic: Subscribe" id="navbar-jquery-dynamic-newsletter" class="btn btn-dark-green btn-sm my-0" href="@Url.Action("AddVehicle", "Vehicle")" role="button">
                    <span class="d-none d-lg-inline-block mr-1">Add Car</span>
                </a>
            </span>
            <!--Angular-->
            @*<a id="navbar-category-gettingstarted-jquery" class="btn btn-info btn-sm my-0 waves-effect waves-light" href="#" role="button">
                    <span class="d-none d-lg-inline-block mr-1">Modify data</span>
                    <i class="fa fa-download"></i>
                </a>
                <a id="navbar-category-tutorial-jquery" class="btn btn-info btn-sm my-0 waves-effect waves-light" href="#" role="button">
                    <span class="d-none d-lg-inline-block mr-1">BIDS</span>
                    <i class="fa fa-graduation-cap"></i>
                </a>
                <span id="dynamicContentWrapper-mainNavbar3" class="dynamic-content"><a id="navbar-jquery-category-pro" class="btn btn-unique btn-sm my-0" href="#" role="button"><span class="d-none d-lg-inline-block mr-1">Go Pro</span><i class="fa fa-diamond"></i></a></span>
                <a id="navbar-category-bundle-jquery" class="btn btn-indigo btn-sm my-0 waves-effect waves-light" href="#" role="button">
                    <span class="badge red">New</span>
                    <span class="d-none d-lg-inline-block mr-1">Old</span>
                    <i class="fa fa-gift"></i>
                </a>*@
        </span>
    </div>
</div>

<div>
    <div class="row">
        @foreach (var Vehicle in Model.ListVehicles)
        {
            string image = !String.IsNullOrWhiteSpace(Vehicle.ImageName) ? Vehicle.ImageName : "noimage.PNG";
            <div class="col-md-4">
                <a href="@Url.Action("AddVehicle", "Vehicle", new { vechileID = Vehicle.ID })">

                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" alt="" style="height:225px; width:100%; display:block;" src="@Url.Content("~/Images/450250/" + image)" data-holder-rendered="true">
                        <div class="card-body">
                            <text>@Vehicle.VehicleName</text>
                            <text class="cars-closed">@(Vehicle.IsDealClosed ? "Deal Closed" : "")</text>
                        </div>
                    </div>
                </a>
            </div>
        }
</div>
</div>