@model CT.Common.Entities.BaseVehicleEntity
@{
    ViewBag.Title = "Index";
    @*<link rel="stylesheet" href="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/css/compiled-4.5.14.min.css?ver=4.5.14">*@
}
@Html.Partial("~/Views/Vehicle/_VehicleTabs.cshtml")
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Manage Cars</h4>
                <p class="card-category">Activate/Deactivate</p>
            </div>
            <div class="card-body">
                <div class="table-responsive">

                </div>
            </div>
        </div>
    </div>

</div>
<div>
    <div class="row">
        @foreach (var Vehicle in Model.ListVehicles)
        {
            string image = !String.IsNullOrWhiteSpace(Vehicle.ImageName) ? Vehicle.ImageName : "noimage.PNG";
            <div class="col-md-4">
                <a href="@Url.Action("AddVehicle", "Vehicle", new { vechileID = Vehicle.ID })">

                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" alt="" style="height:225px; width:100%; display:block;" src="@Url.Content("~/Images/450250/" + image)" data-holder-rendered="true">
                        <div class="card-body">
                            <text>@Vehicle.VehicleName</text>
                            <text class="cars-closed">@(Vehicle.IsDealClosed ? "Deal Closed" : "")</text>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>