@model CT.Common.Entities.BaseVehicleEntity
@{
    ViewBag.Title = "Index";
    @*<link rel="stylesheet" href="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/css/compiled-4.5.14.min.css?ver=4.5.14">*@
}
@Html.Partial("~/Views/Vehicle/_VehicleTabs.cshtml", Model)
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Manage Cars</h4>
                <p class="card-category">Activate/Deactivate</p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <tr>
                                <th>
                                    ID
                                </th>
                                <th>
                                    Car Name
                                </th>
                                <th>
                                    StockID
                                </th>
                                <th>
                                    Model
                                </th>
                                <th>
                                    Deal Status
                                </th>
                                <th>
                                    Active/InActive
                                </th>
                                <th>
                                    Action
                                </th>
                                <th>
                                    Image
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var vehicle in Model.ListVehicles)
                            {
                                string image = !String.IsNullOrWhiteSpace(vehicle.ImageName) ? vehicle.ImageName : "noimage.PNG";
                            <tr>
                                <td>
                                    @vehicle.ID
                                </td>
                                <td>
                                    @vehicle.VehicleName
                                </td>
                                <td>
                                    @vehicle.StockID
                                </td>
                                <td>
                                    @vehicle.Model
                                </td>
                                <td>
                                    @*@Html.Raw(vehicle.IsDealClosed ? "Closed" : "<a href='#' data-carid='" + vehicle.ID + "' class='btn btn-unique btn-rounded btn-sm my-0 closedeal'>Close</a>")*@
                                    @(vehicle.IsDealClosed ? "Closed" : "Open")
                                </td>
                                <td>
                                    <input type="checkbox" id="@vehicle.ID" name="set-name" data-vehicleid="@vehicle.ID" class="switch-input vehiclestatus" @(vehicle.IsActive ? "checked" : string.Empty)>
                                    <label for="@vehicle.ID" class="switch-label"><span class="toggle--on">Active</span><span class="toggle--off">InActive</span></label>
                                </td>
                                <td>
                                    @if (vehicle.NotificationVID == null)
                                    {
                                        <a href="@Url.Action("SendNotification", "Vehicle", new { vehicleID = vehicle.ID, body = vehicle.VehicleName + Environment.NewLine + vehicle.Model })" class="btn btn-unique btn-rounded btn-sm my-0">Send Notification</a>
                                    }
                                    <a href="@Url.Action("AddVehicle", "Vehicle", new { vechileID = vehicle.ID })" class="btn btn-unique btn-rounded btn-sm my-0">Edit</a>
                                </td>
                                <td>
                                    <img class="card-img-top" alt="" style="height:100px; width:200px;" src="@Url.Content("~/Images/450250/" + image)" />
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                    @Html.Partial("_paging")
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">Manage Cars</h4>
                    <p class="card-category">Activate/Deactivate</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div>
        <div class="row">
            @foreach (var Vehicle in Model.ListVehicles)
            {
                string image = !String.IsNullOrWhiteSpace(Vehicle.ImageName) ? Vehicle.ImageName : "noimage.PNG";
                <div class="col-md-4">
                    <a href="@Url.Action("AddVehicle", "Vehicle", new { vechileID = Vehicle.ID })">

                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" alt="" style="height:225px; width:100%; display:block;" src="@Url.Content("~/Images/450250/" + image)" data-holder-rendered="true">
                            <div class="card-body">
                                <text>@Vehicle.VehicleName</text>
                                <text class="cars-closed">@(Vehicle.IsDealClosed ? "Deal Closed" : "")</text>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>*@