@model CT.Common.Entities.BaseVehicleEntity
@{
    ViewBag.Title = "Manage Cars";
    string SortBy = Model.SortBy == "d" ? "a" : "d";
}
@Html.Partial("~/Views/Vehicle/_VehicleTabs.cshtml", Model)
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Manage Cars</h4>
                <p class="card-category">Activate/Deactivate</p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <tr>
                                <th>
                                    <a class="page-link" href="@Url.Action(Model.Action, Model.Controller,new { SearchText = Model.SearchText, PageNo = 1, PageSize = Model.PageSize, Sort= "Date", SortBy = SortBy })">
                                        Date
                                    </a>
                                </th>
                                <th>
                                    <a class="page-link" href="@Url.Action(Model.Action, Model.Controller,new { SearchText = Model.SearchText, PageNo = 1, PageSize = Model.PageSize, Sort= "CarName", SortBy = SortBy })">
                                        Car Name
                                    </a>
                                </th>
                                <th>
                                    <a class="page-link" href="@Url.Action(Model.Action, Model.Controller,new { SearchText = Model.SearchText, PageNo = 1, PageSize = Model.PageSize, Sort= "StockID", SortBy = SortBy })">
                                        StockID
                                    </a>                                    
                                </th>
                                <th>
                                    <a class="page-link" href="@Url.Action(Model.Action, Model.Controller,new { SearchText = Model.SearchText, PageNo = 1, PageSize = Model.PageSize, Sort= "Model", SortBy = SortBy })">
                                        Model
                                    </a>
                                </th>
                                <th>
                                    <a class="page-link" href="@Url.Action(Model.Action, Model.Controller,new { SearchText = Model.SearchText, PageNo = 1, PageSize = Model.PageSize, Sort= "DealStatus", SortBy = SortBy })">
                                        Deal Status
                                    </a>
                                </th>
                                <th>
                                    <a class="page-link" href="@Url.Action(Model.Action, Model.Controller,new { SearchText = Model.SearchText, PageNo = 1, PageSize = Model.PageSize, Sort= "Status", SortBy = SortBy })">
                                        Status
                                    </a>
                                </th>
                                <th>
                                    Action
                                </th>
                                <th>
                                    Image
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var vehicle in Model.ListVehicles)
                            {
                                string image = !String.IsNullOrWhiteSpace(vehicle.ImageName) ? vehicle.ImageName : "noimage.PNG";
                            <tr>
                                <td>
                                    @vehicle.CreatedOn
                                </td>
                                <td>
                                    @vehicle.VehicleName
                                </td>
                                <td>
                                    @vehicle.StockID
                                </td>
                                <td>
                                    @vehicle.Model
                                </td>
                                <td>
                                    @(vehicle.IsDealClosed ? "Closed" : "Open")
                                </td>
                                <td>
                                    <input type="checkbox" id="@vehicle.ID" name="set-name" data-vehicleid="@vehicle.ID" class="switch-input vehiclestatus" @(vehicle.IsActive ? "checked" : string.Empty)>
                                    <label for="@vehicle.ID" class="switch-label"><span class="toggle--on">Active</span><span class="toggle--off">InActive</span></label>
                                </td>
                                <td>
                                    @if (vehicle.NotificationVID == null)
                                    {
                                        <a href="@Url.Action("SendNotification", "Vehicle", new { vehicleID = vehicle.ID, body = vehicle.VehicleName + Environment.NewLine + vehicle.Model })" class="btn btn-unique btn-rounded btn-sm my-0">Send Notification</a>
                                    }
                                    <a href="@Url.Action("AddVehicle", "Vehicle", new { vechileID = vehicle.ID })" class="btn btn-unique btn-rounded btn-sm my-0">Edit</a>
                                </td>
                                <td>
                                    <img class="card-img-top" alt="" style="height:100px; width:200px;" src="@Url.Content("~/Images/450250/" + image)" />
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                    @Html.Partial("_paging")
                </div>
            </div>
        </div>
    </div>
</div>
