@model CT.Common.Entities.DashEntity
@{
    string bids = "0";
    string vehicles = "0";
    string revenue = "0";
    string dealsclosed = "0";
    string dealers = "0";
    var first = Model.dashEntities.Where(x => x.rowtype == "first").FirstOrDefault();
    if (first != null)
    {
        bids = first.c1;
        vehicles = first.c2;
        revenue = first.c3;
        dealsclosed = first.c4;
        dealers = first.c5;
    }

    var dealerslist = Model.dashEntities.Where(x => x.rowtype == "dealer").ToList();
    var deals = Model.dashEntities.Where(x => x.rowtype == "deals").ToList();
}

<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">local_car_wash</i>
                </div>
                <p class="card-category">BID's / Cars</p>
                <h3 class="card-title">
                    @bids/@vehicles
                </h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    @*<i class="material-icons text-danger">warning</i>
                    <a href="#pablo">Get More Space...</a>*@
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">store</i>
                </div>
                <p class="card-category">Revenue</p>
                <h3 class="card-title">@revenue</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    @*<i class="material-icons">date_range</i> Last 24 Hours*@
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-danger card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">settings_backup_restore</i>
                </div>
                <p class="card-category">Deals Closed</p>
                <h3 class="card-title">@dealsclosed</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    @*<i class="material-icons">local_offer</i> Tracked from Github*@
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    @*<i class="fa fa-twitter"></i>*@
                    <i class="material-icons">person</i>
                </div>
                <p class="card-category">Dealers</p>
                <h3 class="card-title">@dealers</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    @*<i class="material-icons">update</i> Just Updated*@
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card card-chart">
            <div class="card-header card-header-success">
                <div class="ct-chart" id="dailySalesChart"></div>
            </div>
            <div class="card-body">
                <h4 class="card-title">Daily Sales</h4>
                <p class="card-category">
                    <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.
                </p>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">access_time</i> updated 4 minutes ago
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-chart">
            <div class="card-header card-header-warning">
                <div class="ct-chart" id="websiteViewsChart"></div>
            </div>
            <div class="card-body">
                <h4 class="card-title">Email Subscriptions</h4>
                <p class="card-category">Last Campaign Performance</p>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">access_time</i> campaign sent 2 days ago
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-chart">
            <div class="card-header card-header-danger">
                <div class="ct-chart" id="completedTasksChart"></div>
            </div>
            <div class="card-body">
                <h4 class="card-title">Completed Tasks</h4>
                <p class="card-category">Last Campaign Performance</p>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">access_time</i> campaign sent 2 days ago
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header card-header-tabs card-header-primary">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <span class="nav-tabs-title">Deals:</span>
                        <ul class="nav nav-tabs" data-tabs="tabs">
                            <li class="nav-item">
                                @Html.DropDownList("type",ViewBag.listItems as List<SelectListItem>,new { @class = "browser-default custom-select dashdrop" })
                                @*<select class="browser-default custom-select dashdrop">
                                    <option value=1>Today</option>
                                    <option value=2>Previous Week</option>
                                    <option value=3>Previous Month</option>
                                </select>*@
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead class="text-warning">
                    <th>Name</th>
                    <th>Mobile</th>
                    <th>Car Name</th>
                    <th>Bid Amount</th>
                    </thead>
                    <tbody>
                        @foreach (var item in deals)
                        {
                        <tr>
                            <td>@item.c1</td>
                            <td>@item.c2</td>
                            <td>@item.c3</td>
                            <td>@item.c4</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header card-header-warning">
                <h4 class="card-title">Dealers</h4>
                <p class="card-category">New dealers</p>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead class="text-warning">
                    <th>Name</th>
                    <th>Mobile</th>
                    </thead>
                    <tbody>
                        @foreach (var item in dealerslist)
                        {
                            <tr>
                                <td>@item.c1</td>
                                <td>@item.c2</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
