@model CT.Common.Common.BaseUserEntity
@{
    var dealers = Model.ListUsers;
    ViewBag.Title = "Dealers";
}
@Html.Partial("~/Views/Dealer/_DealerTabs.cshtml", Model)
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Manage Dealers</h4>
                <p class="card-category">Activate/Deactivate</p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <tr>
                                <th>
                                    ID
                                </th>
                                <th>
                                    First Name
                                </th>
                                <th>
                                    Last Name
                                </th>
                                <th>
                                    Username
                                </th>
                                <th>
                                    Active/InActive
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var dealer in dealers)
                            {
                                <tr>
                                    <td>
                                        @dealer.ID
                                    </td>
                                    <td>
                                        @dealer.FirstName
                                    </td>
                                    <td>
                                        @dealer.LastName
                                    </td>
                                    <td>
                                        @dealer.UserName
                                    </td>
                                    <td>
                                        <input type="checkbox" id="@dealer.ID" name="set-name" data-dealerid="@dealer.ID" class="switch-input dealerstatus" @(dealer.IsActive ? "checked" : string.Empty)>
                                        <label for="@dealer.ID" class="switch-label"><span class="toggle--on">Active</span><span class="toggle--off">InActive</span></label>
                                    </td>
                                    <td class="text-primary">
                                        <a href="@Url.Action("AddDealer", "Dealer",new { dealerID = dealer.ID })" class="btn btn-unique btn-rounded btn-sm my-0">Edit</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @Html.Partial("_paging")
                </div>
            </div>
        </div>
    </div>

</div>